{% extends 'base.html' %}

{% block title %}Welcome Admin{% endblock title %}

{% block content %}

<div style="width: 300px;padding: 20px; background-color: #fe6e00; margin: 200px auto auto auto; display: block; " >
<h1 style="text-align: center;"> Admin Login </h1>
<form method="POST" action="/adminauthenticate/">
    {% csrf_token %}

    
    <input type="text" style="margin-bottom: 15px;" placeholder="username" class="form-control" name="username">
    <input type="password" placeholder="password" class="form-control" name="password">
    <input type="submit" style="display: block; margin:10px auto auto auto ; " class="btn btn-success" name=submit"">


</form>

</div>

{% for message in messages%}

<p style ="text-align: center; font-size: 25px;color: red">{{message}} </p>
{% endfor %}
{% endblock content %}